/app/bootstrap.php.cache
/app/config/parameters.yml
/app/phpunit.xml
/app/cache/*
/app/logs/*
/app/logs/dev.log
!/app/logs/.gitkeep
!app/cache/.gitkeep
!app/logs/.gitkeep
/var/bootstrap.php.cache
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!/var/sessions/.gitkeep
/build/
/vendor/
/bin/*
!bin/console
!bin/symfony_requirements
/composer.phar
/web/bundles/
/web/config.php
/phpunit.xml
/node_modules

*php~*


Thumbs.db
ehthumbs.db

$RECYCLE.BIN/

*.cab
*.msi
*.msm
*.msp
*.log

.DS_Store
.AppleDouble
.LSOverride
Icon
._*

.Spotlight-V100
.Trashes

.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

.idea/*
.fuse*
