{% include 'includes/header.html.twig' %}
{% include 'includes/navbar.html.twig' %}
{% include 'includes/login.html.twig' %}

  <div> <!-- todo : placer flashbag -->
    {% if app.request.hasPreviousSession %}
      {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
          <div class="flash-{{ type }}">
            {{ message }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>

  <main>
    {% block carousel %}{% endblock %}
    <div class="container-fluid mt30p">
      <aside class="col-md-2 visible-md visible-lg hidden-sm">
        {% block panel %}{% endblock %}
      </aside>

      <div class="col-md-8">
        {% block body %}{% endblock %}
        {% block fos_user_content %}{% endblock %}
        {% block fos_message_content %}{% endblock %}
        {% block javascripts %}{% endblock %}
      </div>

      <div class="col-md-2">
        {% block side_content %}{% endblock %}
      </div>
    </div>
  </main><!-- Main end -->
{% include 'includes/footer.html.twig' %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ asset('js/carousel.js') }}"></script>

</body>
</html>
