{% extends 'base.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
  <div class="white p20p30p">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    <p><a href="/">{{ 'registration.back'|trans }}</a></p>
  </div>
{% endblock fos_user_content %}
