.logo {
	width: 140px;
}

ul li {
    list-style-type: none;
}

@font-face {
font-family: 'IntroFont';
src: url('../fonts/Intro.otf') format('truetype');
font-weight: normal;
font-style: normal;
}
.IntroFont{
  font-family: 'IntroFont';
  font-size: 1em;
}

/* Changes standart bootstrap settings
  .pagination (portfolio-section)
  .media-left (about-section)
  .media-body (about-section)
  .author-name (navbar)
  .container
  .navbar
*/

body { padding-top: 50px; } /* http://getbootstrap.com/components/#navbar-fixed-top */



.navigation { 
position: fixed; 
z-index: 10; 
}

.entete { 
margin-top: 50px; 
} 

.navbar-blanc{
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:5px;
  padding-right:5px;
  background-color: #ffffff;
}



.menu a {
  color:#666666;
  background-color: #ffffff;
  margin-right: 10px;
  position: relative;
}

.menu1 a {
  color:#666666;
  background-color: #ffffff;
}

.menu2 a{
  color:#666666;
  background-color: #ffffff;
}

.menu3 a{
  color:#666666;
  background-color: #ffffff;
}

.menu4 a{
  color:#666666;
  background-color: #ffffff;
}

.menu1:hover a:hover{
  color:#ffffff;
  background-color: #fdb515;
}

.menu2:hover a:hover{
  color:#ffffff;
  background-color: #00b6de;
}

.menu3:hover a:hover{
  color:#ffffff;
  background-color: #5aba92;
}

.menu4:hover a:hover{
  color:#ffffff;
  background-color: #e73229;
}

.grey{
  background-color: #666666;
}

.menu-gris a {
  color:#666666;
  background-color: #ffffff;
}

.menu-gris:hover a:hover{
  color:#ffffff;
  background-color: #666666;
}

.nav > .menu1 > a:focus{
 text-decoration: none;
 background-color: #fdb515 ;
 color: #ffffff;
}

.nav > .menu2 > a:focus{
 text-decoration: none;
 background-color: #00b6de ;
 color: #ffffff;
}

.nav > .menu3 > a:focus{
 text-decoration: none;
 background-color: #5aba92 ;
 color: #ffffff;
}

.nav > .menu4 > a:focus{
 text-decoration: none;
 background-color: #e73229 ;
 color: #ffffff;
}

.nav > .menu-gris > a:focus{
 text-decoration: none;
 background-color: #666666;
 color: #ffffff;
}