  <footer class="container-fluid text-center background-color">
    <div class="row">
      <div class="col-md-xs">
        <p>Projet Fil Rouge 2016 - Alex & Manu</p>
      </div>
    </div>
  </footer><!-- Footer end -->
