<div class="text-center">
  <a href="#" id="myBtn" class="btn btn-primary"><i class="fa fa-sign-in"></i> Sign in</a>&nbsp;or&nbsp;
  <a href="{{ path('fos_user_registration_register')}}" class="btn btn-primary">Sign up</a>
</div>
